@using ShitOS.Shared.Ui

@page "/not-found"

<PageTitle>Not found</PageTitle>

<CenteringWrapper class="full-height">
    <p role="alert">Sorry, there's nothing at this address.</p>
</CenteringWrapper>
