.tasks-table{
    display: grid;
    grid-template-columns: repeat(7, auto);
    background-color: var(--background-secondary-color);
    text-align: center;
}

::deep svg
{
    fill: var(--outline-color);
    height: 24px;
    width: 24px;
}


.tasks-table thead td{
    padding: 20px 10px;
    outline: var(--outline-color) 1px solid;
}

.tasks-table tbody td{
    padding: 10px 10px;
    outline: var(--outline-color) 1px solid;
}


.tasks-table thead{
    display: contents
}

.tasks-table tbody{
    display: contents
}

.tasks-table tr{
    display: contents
}